<mat-card>
  <mat-card-title>
    <a href="{{event.url}}">{{event?.name}}</a>
  </mat-card-title>
  <mat-card-subtitle>{{event?.date | date:'dd/MM/yyyy'}}</mat-card-subtitle>
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h3>Classement</h3>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let c of (event.classement | eventsRank)"><app-event-rank [event-rank]="c" ></app-event-rank></mat-list-item>
        </mat-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
