<div class='table'>

  <div id='picture'
       [style.background-image]="photoUrl"
  >

  </div>
  <div id='name'>
    {{displayName}}
  </div>
  <div id="chartContainer">
    <div id='chart' style="width: 40%">
      <canvas baseChart
              [chartType]="'line'"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="true">
      </canvas>
    </div>
  </div>
</div>

<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <mat-card *ngFor="let e of (events | async | filterTeamLeaderEvent)">
    <mat-card-header>
      <mat-card-title style="font-size: 20px">{{e.name}}</mat-card-title>
      <mat-card-subtitle style="font-size: 15px">Classement : {{e.classement?.rank}} - {{e.classement?.points}} points
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
