<div>
  <header class="header">
    <h1 class="header__title">Sfeir'Athlon</h1>
  </header>
</div>

<mat-card class="card-hover">
  <div class="competition-podium well">

    <div class="podium-block bronze">
      <div class="name">Guillaume</div>
      <div class="podium"><span>3<sup>ème</sup></span></div>
    </div>
    <div class="podium-block gold">
      <div class="name">Eric</div>
      <div class="podium"><span>1<sup>er</sup></span></div>
    </div>
    <div class="podium-block silver">
      <div class="name">Julien</div>
      <div class="podium"><span>2<sup>ème</sup></span></div>
    </div>

  </div>
  <ul>
    <li class="text" *ngFor="let c of collabs">
      {{c.nom}} {{c.prenom}}
    </li>
  </ul>

</mat-card>
