<mat-card>
  <mat-card-header>
    <div mat-card-avatar [style.height]="'100px'" [style.width]="'100px'" [style.background-image]="photoUrl"
         [style.background-size]="'cover'"></div>
    <mat-card-title style="font-size: 20px">{{teamLeader?.classement}} - {{teamLeader?.points}} points</mat-card-title>
    <mat-card-subtitle style="font-size: 20px">{{teamLeader?.firstname}} {{teamLeader?.lastname | uppercase}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
